<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jkuszneruk.sleepcalibrator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegimeListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegimeDetailActivity"
            android:label="@string/title_regime_detail"
            android:parentActivityName=".RegimeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jkuszneruk.sleepcalibrator.RegimeListActivity" />
        </activity>
        <activity
            android:name=".SetUpNewRegime"
            android:label="Set Up New Regime"
            android:parentActivityName=".RegimeListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jkuszneruk.sleepcalibrator.RegimeListActivity" />
        </activity>
        <activity android:name=".MorningInterview"
            android:label="Morning interview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jkuszneruk.sleepcalibrator.RegimeListActivity" />
        </activity>
    </application>

</manifest>